#footer-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  border-top: 2px solid #ccc;
  margin-top: 0;
  background: #000 linear-gradient(#222,#000);

  #footer {
    @include grid-row();
    padding: rem-calc(30) 0;
    color: #fff;  

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
